:root {
  --link-color: #ffffff;
  --link-active-color: #ff6c00;
  --heading-color: #ffffff;
  --text-font-family: "open sans", "sans-serif";
  --heading-font-family: "raleway", "sans-serif";
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: var(--heading-font-family);
}

ul {
  list-style-type: none;
}

.button {
  color: var(--link-color);
  font-family: var(--text-font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  background-color: transparent;
}

.global-header {
  background-color: #363636;
  padding: 40px 50px 40px 100px;
}

.phone-number,
.global-header .main-navigation a,
.global-header .main-navigation a:visited {
  color: var(--link-color);
  font-size: 12px;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
}

.global-header .main-navigation a.active,
.social-links-main a.active {
  color: var(--link-active-color);
}

.global-header-aside {
  background-color: #ffffff;
}

.global-header .social-links {
  color: black;
  font-size: 11px;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
  text-decoration: none;
}

.hero-section {
  background-color: #363636;
}

.global-header .main-navigation a.active,
.social-links-main a.active {
  color: var(--link-active-color);
}

.global-header .social-links {
  color: black;
  font-size: 11px;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
  text-decoration: none;
}

.social-links:hover,
.social-links:focus,
.social-links-insta:hover,
.social-links-insta:focus {
  color: var(--link-active-color);
}

.social-links-insta {
  font-size: 11px;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
  text-decoration: none;
}

.hero-header {
  color: var(--heading-color);
  font-size: 72px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}
